html {
  font-size: 12px;
  background: #041A28;
}

body {
  https://getbootstrap.com/docs/4.2/content/reboot/#native-font-stack */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Helvetica Neue', Arial, sans-serif;
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
  /*color: #333;*/
  color: #E6EFFA;
  margin: 0;
}

h1 {
  font-family: sans-serif;
  font-size: 3em;
  margin-bottom: 0;
}

@media (max-width: 460px) {
  h1 {
    font-size: 3.5rem;
    line-height: 1.2;
  }
}

h2 {
  font-family: sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: sans-serif;
  font-size: 1.2em
}

#textbox {
  text-align: center;
}

#text {
  max-width: 600px;
  margin: 0 150;
  display: inline-block;
  text-align: left;
}

#more-info {
  font-family: sans-serif;
  font-size: 1em;
}

a {
  color: #477ca7;
}

a:visited {
  color: #74638f;
}

#main {
  margin: 30px 8px;
  padding: 15px;
  border-radius: 5px;
  /*background: #eee;*/
  background: #041A28;
}

@media (max-width: 460px) {
  #main {
    margin: 0;
  }
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
  border-radius: 5px
}

#img-div {
  background: #063148;
  padding: 10px;
  margin: 0;
  border-radius: 5px
}

#img-caption {
  font-size: 1em;
  margin: 15px 0 5px 0;
}

@media (max-width: 460px) {
  #img-caption {
    font-size: 1.4rem;
  }
}

#headline {
  margin: 15px 0;
  text-align: centre;
}

ul {
  max-width: 600px;
  margin: 0 auto 0px auto;
  text-align: left;
  line-height: 1.2em;
}

li {
  margin: 0px;
}
